<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="url" value="http://api.openweathermap.org/data/2.5/weather?q="/>
    <add key="appId" value="&amp;appid=c7ffee4485953f8261b7ffd3e78c7c9a"/>
  </appSettings>
</configuration>